@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.SunnyWeather {
  background: url(../../public/SunnyWeather.png) no-repeat;
}
.partlyCloudWeather {
  background: url(../../public/PartlyCloudy.png) no-repeat;
}
.unknownWeather {
  background: url(../../public/unknownImage.png) no-repeat;
}

.overCastWeather {
  background: url(../../public/overCast.png) no-repeat;
}
